<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".out" #>
<#
var projectName = "SubscribeWithMultipleViews";
var projectGuid = "{D99550A4-4A27-4D54-98DA-C5ACEC514800}";
#>
<#@ include file="..\Project.csproj.t4" #>