<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".out" #>
<#
var projectName = "SubscribeToChannel";
var projectGuid = "{50354B99-ACE1-4451-9553-05147D2072A6}";
#>
<#@ include file="..\Project.csproj.t4" #>